@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-mint: oklch(97.9% 0.013 180);
    --color-peach: oklch(97.2% 0.025 70);
    --color-sky: oklch(97.5% 0.017 240);
}


